.card{
  margin-top: 110px;
  width: 500px;
  max-width: 1200px;
  margin: 0 auto;
}

.input{
  margin:10px;
  width: 400px;
  position:relative;
  left: 20px;
  width: 400px;
}

.btn{
  width: 400px;
  position:relative;
  right: 7px;
}
